*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Space Mono', monospace; 
    /* font-weight: bold; */
    background-color:#ABEBC6;
    color: black;
}
.contenedor{
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    
    /* outline: 6px solid crimson; */
}

.encabezado {
    grid-column-start: 1;
    grid-column-end: 3;
}


.titulo{
    font-family: 'Qwitcher Grypen', 'Space Mono', monospace;
    font-size: 80px;
    font-weight: bolder;
    /* background-color: antiquewhite; */
    padding: 10px;
    text-align: center;
    
    
}
/* 
.nombre{
    font-family: 'Qwitcher Grypen', 'Space Mono', monospace;
    font-size: 50px;
    /* background-color: rgb(117, 117, 136); */
    /* text-align: center;
} */ 

.imagen{
    /* background-color: black; */
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.computadora{
    height: 150px;
    width: 150px;
    margin-left: 150px;
    background-color: black;
    
    
}
.articulo{
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    
}

.piedepagina img{
    width: 30px;
    height: 30px;
    /* margin-left: 15px; */
    
}

.piedepagina {
    grid-column: 1/5;
    text-align: center;
    
}