*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
    background-color:#ECF0F1;
    color: black;
}
.contenedor{
    margin: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    
    /* outline: 6px solid crimson; */
}

.encabezado {
    grid-column-start: 1;
    grid-column-end: 3;
}


.titulo{
    /* font-family: 'IBM Plex Mono', monospace; */
    font-size: 55px;
    font-weight: bolder;
    /* background-color: antiquewhite; */
    padding: 10px;
    text-align: center;
    /* text-decoration: underline; */
    
}

/* 
.nombre{
    font-family: 'Qwitcher Grypen', 'Space Mono', monospace;
    font-size: 50px;
    /* background-color: rgb(117, 117, 136); */
    /* text-align: center;
} */ 

.imagen{
    /* background-color: black; */
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    display: block;
    margin: auto;
}
.computadora{
    height: auto;
    width: 200px;
   
    
    border-radius: 10% 10%;
    box-shadow: 1px 8px 5px black;
    /* margin-left: 150px; */
    background-color: whitesmoke;
    
    
}
.articulo{
    
    /* background-color: blue; */
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    line-height: 40px;
    
}
/* emoji */

#policia{
    font-size: 35px;
}

.virus{
    font-size: 35px;
}

.cohete{
    font-size: 35px;
}

.libros{
    font-size: 35px;
}




.piedepagina img{
    width: 30px;
    height: 30px;
    /* margin-left: 15px; */
    
}

.piedepagina {
    grid-column: 1/5;
    text-align: center;
    
}